[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flash = "*"
pandas = "*"
geopandas = "*"
folium = "*"
matplotlib = "*"
networkx = "*"
japanize-matplotlib = "*"
seaborn = "*"
numpy = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
